[Unit]
Description=Input Switch service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jbrooksbank
ExecStart=/usr/bin/input-switch

[Install]
WantedBy=multi-user.target